body {
  text-align: center;
  background-color: #11212e;
  color: white;
}

h1 {
  color: #ff5f2e;
  margin: 40px;
}

table td {
  border: 1px solid #095bff;
  background-color: #095bff;
  border-radius: 3px;
  width: 150px;
  height: 150px;
  font-size: 80px;
  font-weight: bolder;
  font-family: forte;
}
table td:hover {
  background-color: #3576f8;
}
table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.turn {
  color: #ff5f2e;
  margin: 20px;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.label {
  font-size: 14px;
}
.X {
  color:#ff5f2e
} 

.O {
  color:white
}

.btn:focus {
  background-color: transparent;
}

